---
import SparklesText from "@/components/ui/sparkles-text";
---

<section id="features" class="h-screen justify-center items-center flex">
  <SparklesText client:load text="Astro Template" />
</section>